:root {
    --header: 5rem;
    --heading: 3rem;
    --sub-heading: 1.5rem;
    --text: 1.25rem;
    --caption: 1.125rem;
    --sub-text: 1.0675rem;

    --background-color: rgba(250, 250, 250, 1);
    --banner-font-color: rgba(255, 255, 255, 0.8);
}

@media screen and (width < 500px) {
    :root {
        --header: 3rem;
        --heading: 1.5rem;
        --sub-heading: 1rem;
        --text: 0.75rem;
        --caption: 0.5rem;
        --sub-text: 0.25rem;
    }
}

body {
    background-color: var(--background-color);
    margin: 0;
    font-size: 90%;

    display: grid;
    grid-template-columns: 5% 10% 1fr 10% 5%;
    grid-template-rows: 33% 1fr auto;
    gap: 1rem;
    grid-template-areas:
        "header header header header header"
        ". side main main ."
        ". footer footer footer .";
}

h1,
h2 {
    font-size: var(--heading);
}

p,
a {
    font-size: var(--text);
}

a {
    text-decoration: none;
}

header {
    grid-area: header;

    background-image: url("images/ocean_side_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100%;

    text-align: center;
}

header>h1 {
    margin: 0;
    color: var(--banner-font-color);
}

header>h1 {
    font-size: var(--header);
    padding-top: 5%;
    padding-bottom: 5%;
}

#header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    text-transform: uppercase;
    color: white;
    background-color: black;

    padding-top: 1%;
    padding-bottom: 1%;
}

#header-nav>a {
    font-size: var(--sub-text);
    color: red;
}

.main {
    grid-area: main;
    align-self: center;
    min-height: 100%;

    --grid-gap: 2rem;
    display: grid;
    gap: var(--grid-gap);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% + (var(--grid-gap) / 2));
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--grid-gap);
}

.main>article {
    scroll-snap-align: start;
    align-self: center;
}

.card {
    box-shadow: 0.5rem 0.5rem 1rem 0.25rem lightgrey;
    border-radius: 10px;
    background-color: ivory;
}

.card>h2,
.card>p {
    --inner-padding: 3%;
    padding-left: var(--inner-padding);
    padding-right: var(--inner-padding);
    padding-bottom: var(--inner-padding);
    margin: 0;
}

.card>h2 {
    padding-top: 2%;
}

aside {
    grid-area: side;
    align-self: center;
}

aside>nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    row-gap: 1rem;
}

aside>nav>a {
    font-size: var(--text);
    color: midnightblue;
    text-align: left;
}