@keyframes header-color-fade {
    0% {
        color: rgba(255, 255, 255, 0.2);
        text-shadow: 0.2rem 0.2rem rgba(0,0,0, 0.2);
    }
    100% {
        color: rgba(255, 255, 255, 1);
        text-shadow: 0.2rem 0.2rem rgba(0,0,0, 1);
    }
}

@keyframes nav-hover {
    0% {
        color: white;
    }
    100% {
        color: red;
    }
}

body {
    margin: 0;
}

header {
    background-image: url("images/ocean_side_banner.jpg");
    max-width: 100%;
    min-height: 45vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    text-align: center;
}


header > h1 {
    padding-top: 10vh;

    font-size: 5rem;
}

header > p {
    font-size: 3rem;
}

header > h1, header > p {
    margin: 0;
    animation: header-color-fade 1s forwards;
}

header > nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
}

header > nav > a {
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    padding: 1%;

    display: inline-block;
}

header > nav > a:hover {
    animation-name: nav-hover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
}

aside {
    height: 100%;
    max-width: 33vh;
    left: 0;
    position: fixed;
    display: block;
}

aside > nav > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
}

article {
    padding-left: 33vh;
}

article > section {
    padding: 1%;
    position: relative;

    border: 5px;
    border-color: red;
    border-style: none none none groove;
}

article h2 {
    font-size: 2rem;
    border: 3px;
    border-color: green;
    border-style: none none double none;
    max-width: 50%;
}

article p {
    font-size: 1.5rem;
    text-indent: 5%;
    text-wrap: balance;

    padding-right: 10vw;
    padding-left:  10vw;
    padding-top:   10vh;
    padding-bottom:10vh;
}

article table {
    font-size: 1.5rem;

    padding-right: 10vw;
    padding-left:  10vw;
    padding-top:   10vh;
    padding-bottom:10vh;

    border: 2px groove;
    border-collapse: separate;

    text-align: center;
}

article table td, article table th {
  border: 2px solid #AAAAAA;
  padding: 3px 10px;
}

article table td:nth-child(even) {
  background: #D0E4F5;
}

article table thead {
  background: #1C6EA4;
}

article table thead th {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}